<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="http2https" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="8.00:00:00" />
        </staticContent>
        <caching>
            <profiles>
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" varyByQueryString="*" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" varyByQueryString="*" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" varyByQueryString="*" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
